@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.container {
    display: grid;
    place-items: center;
    height: 90vh;
    
}

.card1 {
    border-radius: 0.85rem;
    background-color: hsl(213, 19%, 15%);
    padding: 1rem ;
    max-width: 90vw;
    width: 24rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

.icon {
    background-color: hsl(216, 12%, 30%);
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.card-body {
    padding: 0;
}
.card-title {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-text {
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    margin-bottom: 2rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.bt1 , .bt2 , .bt3 , .bt4 , .bt5 {
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 30%);
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid hsl(216, 12%, 30%);
}
 
.buttons button:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    border: solid hsl(25, 97%, 53%);
}
.buttons  button:focus  {
    background-color: hsl(217, 12%, 63%);
    border: solid hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}


.btn1 {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    border-radius: 2rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    font-size: 1rem;

    width: 100%;
}

.btn1:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

@media screen and (min-width: 700px) {

    .card1 {
        padding: 2rem;
    }
    .card-text {
        font-size: .85rem;
    }
    .card-title {
        font-size: 1.75rem;
    }
    
}

.card2 {
    border-radius: 0.85rem;
    background-color: hsl(213, 19%, 15%);
    padding: 1rem ;
    max-width: 90vw;
    width: 22.5rem;
    height: auto;
    margin: 0 auto;
    display: none;
    
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
}
.selected {
    background-color: hsl(216, 12%, 20%);
    color: hsl(25, 97%, 53%);
    border-radius: 2rem;
    margin: 1.5rem;
    padding: 0.5rem ;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 100;
}

.card-title1 {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-top: 1.5rem;
}

.card-text1 {
    color: hsl(217, 12%, 63%);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 700px) {

    .card2 {
        padding: 1.5rem;
    }
    .card-text1 {
        font-size: 0.85rem;
    }
    .card-title1 {
        font-size: 1.5rem;
    }
    .selected {
        font-size: 0.9rem;
       margin: 3rem;
    }
    
}
